.single-meal-card-detail-container{
    display: flex;
    justify-content: center;
}
.single-meal-card-detail-header-text{
    border: 2px solid cadetblue;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 8px;
}
.single-meal-card-detail{
    margin: 20px 0;
    padding: 10px;
    border: 2px solid salmon;
    width: 400px;
    border-radius: 8px;
}
.single-meal-card-detail img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 8px 30px -3px #787574;
}